div.component_question {
    font-size: 2rem;
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    // flex-grow: 1;

    > div.question {
        align-self: stretch;
        text-align: center;
    }

    > button.component_button {
        margin-top: 4rem;
        align-self: end;
        // text-align: right;
    }
}
