button.component_option {
    text-align: left;
    display: block;
    padding: 1.25rem;
    padding-left: 2rem;
    margin-top: 1.5rem;
    background-color: var(--color-dark);
    border-radius: var(--border-radius);
    border: solid var(--color-dark) 2px;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    min-width: 100%;
    // width: 350px;
    color: var(--color-medium);

    &.correct {
        --color: var(--color-medium);
        border: 2px solid var(--color-theme);
        background-color: var(--color-theme);
        // color: var(--color-darker);
    }

    &.incorrect {
        --color: var(--color-darkest);
        background-color: var(--color-accent);
        border: 2px solid var(--color-accent);
        color: var(--color-darkest);
    }

    &:disabled:hover {
        // background-color: var(--color-darkest);
        cursor: default;
        // user-select: none;
    }

    > p.reason {
        margin-top: 0.75rem;
        border-top: 2px solid var(--color);
        padding-top: 0.75rem;
        font-size: 1.5rem;
    }
}
