header.component_header {
    // width: 66rem;
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    // justify-content: space-between;

    h1 {
        flex-grow: 1;
        text-align: center;
        text-decoration: underline;
    }
}
